<!DOCTYPE html>
<html lang="en" style="background: #EEF2F5;">
<head>
    <title> Admin Home Page </title>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body style="margin: 0px; background: #EEF2F5;">

    <!-- Navigation Header -->
    <div class="nav-user-container"> 
        <img src="/img/att-logo.png" alt="att logo" height="73" width="94" ></img>
    </div>

    <!-- Navigation Banner -->
    <div class="nav-user-banner">
        <div class="banner-appt-container">
            <div class="banner-appt-type">Uploaded Files</div>
        </div>
    </div>

    <!-- File Uploads -->
    <div class="admin-body-container" style="height: 1000px; margin-bottom: 20px;">
        <div class="body-header-text-2">Uploaded Files:</div>
        <ul>
            <% files.forEach(file => { %>
                <li class="bullet-list-point"><a target="_blank" class="bullet-list-link" href="/downloads/<%= file %>"><%= file %></a></li>
            <% }) %>
        </ul>
    </div>

    <!-- Footer -->
    <div class="user-footer"> <div> <a class="footer-link-text" target="_blank" href="http://localhost:3000/jobs"> Jobs Page </a></div> </div>
    <script src="/js/admin.js" ></script>

</body>
</html>
