<!DOCTYPE html>
<html lang="en">
<head>
    <title> Drive Mode </title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/drive-mode.js" ></script>
</head>

<body style="margin: 0px; background: #EEF2F5;">

    <!-- Navigation Header -->
    <div class="nav-bar-drive-mode"> 
        <img src="/img/att-logo.png" alt="att logo" height="73" width="94" class="att-logo-nav"></img>
    </div>

    <!-- Navigation Banner -->
    <div class="nav-banner-drive-mode">
        <img src="/img/icon-cross.png" alt="cross" height="30" width="30"></img>
        <div class="banner-drive-mode-text"> Drive Mode</div>
        <div class="job-card-small-text-blue">&nbsp &nbsp &nbsp &nbsp </div>
    </div>

    <!-- Audio Player -->
    <div class="drive-mode-container">
        <div class="job-card-small-text padding-bottom-small" style="margin: auto;" >Listen to Call Summary</div>
        <img src="/img/icon-car.png" alt="car icon" height="400px" width="400px" ></img>
        <audio controls style="margin: auto;"> <source src="http://localhost:3000/downloads/call-summary-audio.mp3" type="audio/mpeg" > </audio>
    </div>
</body>

</html>
